@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style: none;
  margin: 10px;
  padding: 5px;
  gap: 10px;
  justify-content: space-between;
}

a {
   text-decoration: none;
   color: grey;
}

.header, .left-links, .rightlinks, .content, .buttons, .footer, ul, .input, body {
  display: flex;
}

.header {
  justify-content: space-between;
}

.content {
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.input {
  margin: 20px;
}

.buttons {
  gap: 5px;
}

.footer {
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  background-color: #eeeeee;
}

