.paragraph {
    background-color: rgb(230, 146, 225);
    font-size: 24px;
}

.paragraph:nth-of-type(2n) {
    font-size: 40px;
}

#idone {
    color: rgb(0, 0, 255);
    font-size: 40px; font-weight: bold;
}

#idtwo {
    background-color: rgb(102, 221, 102);
    font-size: 32px; 
    font-weight: bold;
}