* {
  font-size: 16px;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 10px;
  padding-bottom: 1px;
  padding-right: auto;
  padding-left: auto;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 15px;
  margin: 0px auto;
}